*~
*.bak
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
tags
.DS_Store
Thumbs.db
desktop.ini

*.pyc
/venv/*
__pycache__
tags

.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
/instance/
adapter.wsgi

/var/*

package-lock.json
/node_modules/*
/app/statics/*/*.map
