*~
*.bak
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
tags
.DS_Store
Thumbs.db
desktop.ini
tags

package-lock.json
/node_modules/

/.firebase/
/firebase-debug.log

/var/*
/src/js/configs/config.json
/public/assets/*/*.map
